.page.primary {
}

.page.primary #header {
	width: 100%;
	height: 216px;
	position: absolute;
	/*background: url(../images/bk_primary_gradient.png) top left no-repeat;*/
}

.page.primary #header #patient {
	width: 472px;
	height: 160px;
	top: 59px;
	left: 383px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.primary #header #patient p {
	line-height: 30px;
	text-align: left;
	color: #04090E;
	font-weight: 700;
}
.page.primary #header #date {
	width: 457px;
	height: 30px;
	top: 170px;
	left: 380px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.primary #header #date p {
	line-height: 28px;
	text-align: left;
	color: #04090E;
}

.page.primary #header #slideshow{
	background: url(../KPNW_JaoTech_slideshow-only.swf) no-repeat;
	width: 330px;
	height: 186px;
	display: block;
	float: left;
	margin-left: 880px;
	margin-top: -656px;
}

.page.primary #content {
	width: 100%;
	height: 711px;
	top: 0px;
	position: absolute;
}

.page.primary #menu {
	width: 100%;
	height: 100%;
}

/*.page.primary #menu .slides {
	position: absolute;
	top: 286px;
	left: 66px;
	width: 1148px;
	height: 435px;
}

.page.primary #menu .slides .slide {
	width: 1148px;
	height: 491px;
	display: none;
}


.page.primary #menu .slides #menu1-slide {
	background: url('../images/img_main_dine.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu2-slide {
	background: url('../images/img_main_learn.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu3-slide {
	background: url('../images/img_main_visit.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu4-slide {
	background: url('../images/img_main_watch.jpg') top left no-repeat;
}

.page.primary #menu .slides #menu5-slide {
	background: url('../images/img_main_relax.jpg') top left no-repeat;
}
*/

.page.primary #menu .major {
	/*background: url('../images/menubar_slice.png') repeat-x;*/
	position: absolute;
	width: 100%;
	height: 69px;
	padding: 0;
	left: -2px;
	top: 216px;
}

.page.primary #menu .major a {
	position: absolute;
	height: 59px;
	margin: 0;
	padding-top: 27px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0px;
	text-align: center;
	font-size: 30px;
	color: rgba(255,255,255,1.00);
	top: -11px;
	font-weight: bold;
	letter-spacing: 1px;
}

.page.primary #menu .major a.selected {
	font-size: 38px;
	background-repeat: no-repeat;
	background-position: center top no-repeat;
	/*background-color: #308ac8;*/
	background-color: #3a87bd;
	/*background-image: url('../images/menubar_highlight.png');*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*height: 48px;*/
	margin-top: 0px;
	padding-top: 17px;
	color: rgba(244,244,245,1.00);
	border-top-right-radius: 8px 8px;
	border-top-left-radius: 8px 8px;
	box-shadow: 3px 0px 6px 0px rgba(3,3,3, .3);
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
}

.page.primary #menu .major a#menu1 {
	left: 50px;
	width: 242px;	
}

.page.primary #menu .major a#menu2 {
	left: 284px;
	width: 288px;
}

.page.primary #menu .major a#menu3 {
	left: 490px;
	width: 312px;
}

.page.primary #menu .major a#menu4 {
	left: 752px;
	width: 262px;
}

.page.primary #menu .major a#menu5 {
	left: 988px;
	width: 255px;
}

.page.primary #menu .minor {
	position: absolute;
	width: 100%;
	height: 495px;
	top: 285px;

}

.page.primary #menu .minor .menu-group {
	position: absolute;
	border: 1px solid #32455E;
	/*background:  rgba(19,56,101,.9);*/
	background: rgba(27,76,111,.96);
	margin: 0;
	padding-top: 15px;
	padding-right: 0;
	padding-left: 0px;
	padding-bottom: 15px;
	display: none;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.page.primary #menu .minor #menu1-group {
	left: 48px;
	width: 240px;
}

.page.primary #menu .minor #menu2-group {
	left: 282px;
	width: 286px;
}

.page.primary #menu .minor #menu3-group {
	left: 488px;
	width: 310px;
}

.page.primary #menu .minor #menu4-group {
	left: 750px;
	width: 260px;
}

.page.primary #menu .minor #menu5-group {
	left: 986px;
	width: 255px;
}

.page.primary #menu .minor .menu-group a {
	display: block;
	padding: 5px 15px;
	line-height: 28pt;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 1px;
}
